{
    "extends": [
        "airbnb-base",
        "vue"
    ],
    "env": {
        "node": true,
        "browser": true,
        "es6": true
    },
    "rules": {
        "no-multi-spaces": [2, {
            "exceptions": {
                "Property": true,
                "ImportDeclaration": true,
                "VariableDeclarator": true,
                "AssignmentExpression": true
            }
        }],
        "indent": [1, 2],
        "key-spacing": [2, {
            "beforeColon": false,
            "afterColon": true,
            "align": "colon"
        }],
        "no-unused-vars": 2,
        "comma-dangle": [1, "only-multiline"]
    },
    "plugins": [
        "import"
    ]
}
