{
    "extends": [
        "airbnb-base",
        "vue"
    ],
    "env": {
        "node": true,
        "browser": true,
        "es6": true
    },
    "rules": {
        "space-before-function-paren": 0,
        "no-multi-spaces": [2, {
            "exceptions": {
                "Property": true,
                "ImportDeclaration": true,
                "VariableDeclarator": true,
                "AssignmentExpression": true
            }
        }],
        "indent": [1, 2],
        "no-unused-vars": 2,
        "comma-dangle": [1, "only-multiline"],
        "no-param-reassign": [2, {
            "props": false
        }]
    },
    "plugins": [
        "import"
    ]
}
